.botao{
    background-color: var(--amarelo);
    box-shadow: 10px 10px 30px #FFCB473D;
    color: var(--branco);
    font-size: var(--tamanho-corpo);
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 1rem;
    border: none;
}


.botao--alternativo{
    color: var(--amarelo);
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--amarelo);
}