:root{
    --amarelo: #FFCB47;
    --branco: #FFFFFF;
    --cinza: #909090;
    --preto: #202020;

    --familia-corpo: "Montserrat", sans-serif;
    --familia-titulo-destaque: 'Elsie Swash Caps', serif;

    -peso-titulo-destaque: 900;
    --tamanho-titulo-destaque: 2rem;
    --tamanho-corpo: 1rem;
}