@import url(_variaveis.css);
@import url(_reset.css);


body{
    background: url(../../img/textura.png), url(../../img/Linhas.svg);
    background-position: center;
    
    color: var(--cinza);
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo{
    font-size: var(--tamanho-titulo-destaque);

}

.titulo--destaque{
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);
    display: block;
    margin: .75rem 0;

}

.alinhamento-esquerda{
    text-align: left;
}

.alinhamento-centro{
    text-align: center;
}

.texto{
    line-height: 26px;
}